NG_APP_FIREBASE_CONFIG={"apiKey":"SUA_API_KEY","authDomain":"SEU_PROJETO.firebaseapp.com","projectId":"SEU_PROJECT_ID","storageBucket":"SEU_PROJETO.firebasestorage.app","messagingSenderId":"SEU_SENDER_ID","appId":"SEU_APP_ID"}
NG_APP_APP_ID=iel-local
NG_APP_INITIAL_AUTH_TOKEN=
NG_APP_GEMINI_API_KEY=
